services:
  client:
    build: ./client
    container_name: passwordless-auth-client
    restart: always
    environment:
      - VIRTUAL_HOST=passwordless-auth.varshilshah.dev
      - LETSENCRYPT_HOST=passwordless-auth.varshilshah.dev
      - VIRTUAL_PORT=80
    networks:
      - nginx-proxy-net

  server:
    build: ./server
    container_name: passwordless-auth-server
    restart: always
    env_file:
      - ./server/.env
    environment:
      - VIRTUAL_HOST=api.passwordless-auth.varshilshah.dev
      - LETSENCRYPT_HOST=api.passwordless-auth.varshilshah.dev
      - VIRTUAL_PORT=5000
    networks:
      - nginx-proxy-net

networks:
  nginx-proxy-net:
    external: true
